---
import type { Project } from '../types/ProjectType'

interface Props {
  project: Project
}

const { project } = Astro.props
---

<div class='border dark:border-gray-700 rounded-xl px-4 py-2 dark:text-white space-y-4'>
  <h3 class='text-2xl font-semibold'>{project.title}</h3>
  <img
    transition:animate='slide'
    transition:name={project.title}
    src={project.image}
    alt={project.title}
    width='300'
    height='200'
    class='rounded-xl w-full h-60 object-cover'
  />
  <div>
    {
      project.technologies.map((technology) => {
        return (
          <span class='bg-gray-200 dark:bg-gray-700 dark:text-white rounded-full px-2 py-1 text-sm mr-2'>
            {technology}
          </span>
        )
      })
    }
  </div>
  <p class='text-gray-500'>{project.description}</p>
  <div class='w-full flex'>
    <a
      href={project.to}
      class='rounded-xl bg-black text-white py-1 w-full text-center hover:text-black hover:bg-white transition-all duration-300 ease-in-out border'
    >
      <button>
        Ver más <span class='text-xl'>&rarr;</span>
      </button>
    </a>
  </div>
</div>
